(ns {{top/ns}}.{{main/ns}}
    (:require [clojure.tools.cli :refer [parse-opts]]
              [clojure.string :as str]
              [integrant.core :as ig]
              [{{top/ns}}.cli :as cli]
              [{{top/ns}}.system :as system])
    (:gen-class))


(defn -main
  "Initialize the system and starts the web server."
  [& args]
  (let [opts (parse-opts args cli/options)]

    (when (not (empty? (:errors opts)))
      (cli/exit 1 (str/join \newline (:errors opts))))

    (when (get-in opts [:options :help])
      (let [options-summary (:summary opts)]
        (cli/exit 0 (cli/usage options-summary))))

    (-> system/system-config
        (assoc-in [:app/config :path] (get-in opts [:options :config]))
      ig/init)))
