(ns {{top/ns}}.{{main/ns}}.system
  (:require [integrant.core :as ig]
            [taoensso.telemere :as t]
            [taoensso.telemere.tools-logging :as ttl]
            [next.jdbc.connection :as jdbc.connection]
            [ring.adapter.jetty :as jetty]
            [ring.util.response :as resp]
            [{{top/ns}}.{{main/ns}}.config :as config]
	    [{{top/ns}}.{{main/ns}}.logging :as logging]
            [{{top/ns}}.{{main/ns}}.handlers :as handlers])
  (:import (com.zaxxer.hikari HikariDataSource)))


(def system-config
  {:app/config {}
   :app/logging {}
   :db/datasource {:config (ig/ref :app/config)}
   :server/http {:config (ig/ref :app/config)
                 :handler (ig/ref :handler/root)}
   :handler/root {:db (ig/ref :db/datasource)}})

(defmethod ig/init-key :app/config [_ {:keys [path] :as opts}]
  (config/load-config path))

(defmethod ig/init-key :app/logging [_ _]
  (ttl/tools-logging->telemere!)
  (t/add-handler! :console/json logging/console-json-handler))

(defmethod ig/init-key :db/datasource [_ {:keys [config] :as opts}]
  (jdbc.connection/->pool HikariDataSource (:db config)))

(defmethod ig/halt-key! :db/datasource [_ ds]
  (.close ds))

(defmethod ig/init-key :server/http [_ {:keys [config handler] :as opts}]
  (jetty/run-jetty handler (-> (:server config) (assoc :join? false))))

(defmethod ig/halt-key! :server/http [_ server]
  (.stop server))

(defmethod ig/init-key :handler/root [_ {:keys [db]}]
  (handlers/root-handler db))
