(ns {{top/ns}}.system
  (:require [integrant.core :as ig]
            [taoensso.telemere.tools-logging :as ttl]
            [next.jdbc.connection :as jdbc.connection]
            [ring.adapter.jetty :as jetty]
            [ring.util.response :as resp]
            [{{top/ns}}.config :as config]
            [{{top/ns}}.handlers :as handlers])
  (:import (com.zaxxer.hikari HikariDataSource)))


(def system-config
  {:app/config {}
   :app/logging {}
   :db/datasource {:config (ig/ref :app/config)}
   :server/http {:config (ig/ref :app/config)
                 :handler (ig/ref :handler/root)}
   :handler/root {:db (ig/ref :db/datasource)
                  :logging (ig/ref :app/logging)}})

(defmethod ig/init-key :app/config [_ {:keys [path] :as opts}]
  ({{top/ns}}.config/load-config path))

(defmethod ig/init-key :app/logging [_ _]
  (ttl/tools-logging->telemere!))

(defmethod ig/init-key :db/datasource [_ {:keys [config] :as opts}]
  (jdbc.connection/->pool HikariDataSource (:db config)))

(defmethod ig/halt-key! :db/datasource [_ ds]
  (.close ds))

(defmethod ig/init-key :server/http [_ {:keys [config handler] :as opts}]
  (jetty/run-jetty handler (-> (:server config) (assoc :join? false))))

(defmethod ig/halt-key! :server/http [_ server]
  (.stop server))

(defmethod ig/init-key :handler/root [_ {:keys [db]}]
  (handlers/root-handler db))
